@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --section-title-margin: 0;
    --section-title-color: var(--color-black);
}


body {
    line-height: var(--line-height-base);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-bold);
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

a[href] {
    font-style: normal;
}

a[href]:visited {
    font-style: italic;
}

a[href]:hover {
    text-decoration: underline;
}

a[href]:active {
    background-color: var(--color-light-grey);
}

.visually-hidden {
    display: none;
}

.card-category {
    color: var(--color-primary);
}

.section-tagline {
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-transform);
    font-weight: var(--font-weight-bold);
}
.section-header {
    text-align: var(--section-header-align);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
}
