:root {
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

body {
    font-weight: var(--font-weight-regular);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-bold);
}

html {
    font-size: 62.5%;
}

a {
    color: var(--text-color);
}

.visually-hidden {
    display: none;
}

.card-category {
    color: var(--color-primary);
}

.section-tagline {
    color: var(--color-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
}
